<html>
<body>
    <h3>Predicting Customer Satisfaction forEcommerce Platform</h3>

<div>
  <form action="/predict" method="POST">
    <label for="price">Enter Price</label>
	<input type="text" id="price" name="price">
    <br>
    <label for="freight_value">Enter Freight Value</label>
	<input type="text" id="freight_value" name="freight_value">
    <br>
    <label for="payment_value">Enter Payment Value</label>
	<input type="text" id="payment_value" name="payment_value">
    <br>
    <label for="seller_zip_code_prefix">Enter Seller Zip Code Prefix</label>
	<input type="text" id="seller_zip_code_prefix" name="seller_zip_code_prefix">
    <br>
    <label for="order_delivered_customer_date">Enter Order Delivered Customer Date</label>
	<input type="date" id="order_delivered_customer_date" name="order_delivered_customer_date">
    <br>
    <label for="order_purchase_timestamp">Enter Order Purchase Timestamp</label>
	<input type="date" id="order_purchase_timestamp" name="order_purchase_timestamp">
    <br>
    <label for="order_estimated_delivery_date">Enter Order Estimated Delivery Date</label>
	<input type="date" id="order_estimated_delivery_date" name="order_estimated_delivery_date">
    <br>
    <label for="review_comment_message">Enter Review Comment Message</label>
	<input type="text" id="review_comment_message" name="review_comment_message">
    <input type="submit" value="Submit">
  </form>
  <form action="/upload" method="POST">
	<input type="submit" value="Upload Multiple Values">
  </form>
</div>
</body>
</html>
